// -- Badges --

.userPopout-2j1gM4 {

    // PANIC#6666
    .avatarWrapper-eenWra[data-user-id="193188089756123136"],

    // Qvas#7777
    .avatarWrapper-eenWra[data-user-id="596812194906374167"],

    // Noteless#0666
    .avatarWrapper-eenWra[data-user-id="281376608038813696"],

    // Josh#3577
    .avatarWrapper-eenWra[data-user-id="269939624401436672"],

    // Rabbite#6969
    .avatarWrapper-eenWra[data-user-id="272440514400354305"],

    // bolo#0199
    .avatarWrapper-eenWra[data-user-id="409639495030538250"],
    
    // zbbVII#0547
    .avatarWrapper-eenWra[data-user-id="303880582331629569"],

    // Reaper45#0001
    .avatarWrapper-eenWra[data-user-id="562386647828791311"],

    // SkeppyCat#1185
    .avatarWrapper-eenWra[data-user-id="442661470770167838"],

    // D |049| CatBoy#0049
    .avatarWrapper-eenWra[data-user-id="394804652064899072"],

    // LewsTherin#0001
    .avatarWrapper-eenWra[data-user-id="148883925270396929"],

    // AnnoyedLoki#0117
    .avatarWrapper-eenWra[data-user-id="233787027517210624"],

    // Pukima#0001
    .avatarWrapper-eenWra[data-user-id="751092600890458203"],

    // Chochu#1253
    .avatarWrapper-eenWra[data-user-id="289782983357890571"],

    // ♡Okajuni♡ [BC]#1041
    .avatarWrapper-eenWra[data-user-id="478881945020006402"],

    // Kaia#8444
    .avatarWrapper-eenWra[data-user-id="118830296350064641"],

    // Maclean#8719
    .avatarWrapper-eenWra[data-user-id="421890156686213120"],

    // Cituation#0069
    .avatarWrapper-eenWra[data-user-id="285902386701271050"],

    // ven#0069
    .avatarWrapper-eenWra[data-user-id="429013973501870100"],

    // Dxniel#2772
    .avatarWrapper-eenWra[data-user-id="317274395410169856"],

    // J6lka#4160
    .avatarWrapper-eenWra[data-user-id="516246121002303489"],

    // Dark-LYNN#6568
    .avatarWrapper-eenWra[data-user-id="705306248538488947"],
    
    // 💙dopadream💛#7777
    .avatarWrapper-eenWra[data-user-id="717509908479868999"],
    
    // Cywell#0001
    .avatarWrapper-eenWra[data-user-id="522953162748067840"],

    // waasabii#0112
    .avatarWrapper-eenWra[data-user-id="936723624180727888"],

    // LoafOfCurry#0001
    .avatarWrapper-eenWra[data-user-id="444254890563338241"],

    // NomadNaomie#7601
    .avatarWrapper-eenWra[data-user-id="188323207793606656"],

    // vic#2345
    .avatarWrapper-eenWra[data-user-id="833806840257052753"]

    {
        & + div > .profileBadges-2pItdR::before {
            content: ""; position: relative;
            width: 20px; height: 17px;
            margin: 1.5px 6px 0 0; pointer-events: none;
            background: url("https://cdn.discordapp.com/emojis/813060332704366642.png?v=1") center/100% no-repeat;
        } 
    } 
}

.member-2gU6Ar .wrapper-1VLyxH {
    
    // PANIC#6666
    &[data-user-id="193188089756123136"]::before,
    
    // Qvas#7777
    &[data-user-id="596812194906374167"]::before,

    // Noteless#0666
    &[data-user-id="281376608038813696"]::before,

    // Josh#3577
    &[data-user-id="269939624401436672"]::before,

    // Rabbite#6969
    &[data-user-id="272440514400354305"]::before,

    // bolo#0199
    &[data-user-id="409639495030538250"]::before,
    
    // zbbVII#0547
    &[data-user-id="303880582331629569"]::before,

    // Reaper45#0001
    &[data-user-id="562386647828791311"]::before,

    // SkeppyCat#1185
    &[data-user-id="442661470770167838"]::before,

    // LewsTherin#0001
    &[data-user-id="148883925270396929"]::before,

    // D |049| CatBoy#0049
    &[data-user-id="394804652064899072"]::before,

    // AnnoyedLoki#0117
    &[data-user-id="233787027517210624"]::before,

    // Pukima#0001
    &[data-user-id="751092600890458203"]::before,

    // Chochu#1253
    &[data-user-id="289782983357890571"]::before,

    // ♡Okajuni♡ [BC]#1041
    &[data-user-id="478881945020006402"]::before,

    // Kaia#8444
    &[data-user-id="118830296350064641"]::before,

    // Maclean#8719
    &[data-user-id="421890156686213120"]::before,

    // Cituation#0069
    &[data-user-id="285902386701271050"]::before,

    // ven#0069
    &[data-user-id="429013973501870100"]::before,

    // Dxniel#2772
    &[data-user-id="317274395410169856"]::before,

    // J6lka#4160
    &[data-user-id="516246121002303489"]::before,

    // Dark-LYNN#6568
    &[data-user-id="705306248538488947"]::before,
    
    // 💙dopadream💛#7777
    &[data-user-id="717509908479868999"]::before,

    // Cywell#0001
    &[data-user-id="522953162748067840"]::before,

    // waasabii#0112
    &[data-user-id="936723624180727888"]::before,

    // LoafOfCurry#0001
    &[data-user-id="444254890563338241"]::before,

    // NomadNaomie#7601
    &[data-user-id="188323207793606656"]::before,

    // vic#2345
    [data-user-id="833806840257052753"]::before
    {
        content: ""; position: absolute;
        width: 18px; height: 14px;
        bottom: -3px; left: -5px;
        z-index: 2; 
        background: url("https://cdn.discordapp.com/emojis/813060332704366642.png?v=1") no-repeat;
        background-size: 85%;
        border-radius: 0 5px 0 0;
        pointer-events: none;
    }
}

// Badges in chat
.avatar-2e8lTP[src*="193188089756123136"],
.avatar-2e8lTP[src*="596812194906374167"],
.avatar-2e8lTP[src*="281376608038813696"],
.avatar-2e8lTP[src*="269939624401436672"],
.avatar-2e8lTP[src*="272440514400354305"],
.avatar-2e8lTP[src*="409639495030538250"],
.avatar-2e8lTP[src*="303880582331629569"],
.avatar-2e8lTP[src*="562386647828791311"],
.avatar-2e8lTP[src*="442661470770167838"],
.avatar-2e8lTP[src*="394804652064899072"],
.avatar-2e8lTP[src*="148883925270396929"],
.avatar-2e8lTP[src*="233787027517210624"],
.avatar-2e8lTP[src*="751092600890458203"],
.avatar-2e8lTP[src*="289782983357890571"],
.avatar-2e8lTP[src*="478881945020006402"],
.avatar-2e8lTP[src*="118830296350064641"],
.avatar-2e8lTP[src*="421890156686213120"],
.avatar-2e8lTP[src*="285902386701271050"],
.avatar-2e8lTP[src*="429013973501870100"],
.avatar-2e8lTP[src*="17274395410169856"],
.avatar-2e8lTP[src*="516246121002303489"],
.avatar-2e8lTP[src*="705306248538488947"],
.avatar-2e8lTP[src*="717509908479868999"],
.avatar-2e8lTP[src*="522953162748067840"],
.avatar-2e8lTP[src*="936723624180727888"],
.avatar-2e8lTP[src*="444254890563338241"],
.avatar-2e8lTP[src*="188323207793606656"],
.avatar-2e8lTP[src*="833806840257052753"] {

    & + h3 {
        .username-h_Y3Us::after {
            content: ""; position: absolute;
            width: 18px; height: 14px;
            bottom: 2px; right: -26px;
            background: url("https://cdn.discordapp.com/emojis/813060332704366642.png?v=1") no-repeat;
            background-size: 100%;
            border-radius: 0 5px 0 0;
            pointer-events: none;
        }
        .timestamp-p1Df1m { margin-left: 30px;}
    }
}

// -- Animated gradient username --

@mixin gradientUsername {
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    -webkit-background-clip: text;
}

// PANIC#6666
.avatar-2e8lTP[src*="193188089756123136"] + h3 .username-h_Y3Us,
.channel-1Shao0[data-user-id="193188089756123136"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="193188089756123136"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="193188089756123136"] ~ .nameTag-2Nlmsy .username-3JLfHz
{ 
    @include gradientUsername;
    animation: shine 10s linear infinite;
    background-image: linear-gradient(-60deg, #000000 0%, #ffffff 50%, #000000 100%);
}

// Noteless#0666
.avatar-2e8lTP[src*="281376608038813696"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="281376608038813696"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="281376608038813696"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="281376608038813696"] ~ .nameTag-2Nlmsy .username-3JLfHz
{ 
    @include gradientUsername;
    animation: shine 10s linear infinite;
    background-image: linear-gradient(-60deg, #1a8ce9 40%, #0b304e 80%, #1a8ce9 100%);
}

// Qvas#7777
.avatar-2e8lTP[src*="596812194906374167"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="596812194906374167"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="596812194906374167"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="596812194906374167"] ~ .nameTag-2Nlmsy .username-3JLfHz
{ 
    @include gradientUsername;
    animation: shine 10s linear infinite;
    background-image: linear-gradient(90deg, rgba(97,0,25,1) 0%, rgba(255,0,65,1) 50%, rgba(97,0,25,1) 100%);
}

// Josh#3577
.avatar-2e8lTP[src*="269939624401436672"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="269939624401436672"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="269939624401436672"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="269939624401436672"] ~ .nameTag-2Nlmsy .username-3JLfHz 
{ 
    @include gradientUsername;
    animation: shine 10s linear infinite;
    background-image: linear-gradient(-60deg, #360167 ,#6B0772, #AF1281, #CF268A, #AF1281, #6B0772 ,#360167);
}

// Rabbite#6969
.avatar-2e8lTP[src*="272440514400354305"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="272440514400354305"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="272440514400354305"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="272440514400354305"] ~ .nameTag-2Nlmsy .username-3JLfHz 
{ 
    @include gradientUsername;
    animation: shine 10s linear infinite;
    background-image: linear-gradient(-60deg,#FDC7C5 0%,#FEC4DF 10%, #EFC8F3 20%, #D2D0FC 30%, #B0DAF6 40%, #9AE1E3 50%, #9FE2C9 60%, #B8DFB2 70%,#D6D8A7 80%,#EFCFAF 90%,#FDC7C5 100%);
}

// bolo#0199
.avatar-2e8lTP[src*="409639495030538250"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="409639495030538250"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="409639495030538250"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="409639495030538250"] ~ .nameTag-2Nlmsy .username-3JLfHz

// zbbVII#0547
.avatar-2e8lTP[src*="303880582331629569"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="303880582331629569"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="303880582331629569"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="303880582331629569"] ~ .nameTag-2Nlmsy .username-3JLfHz
{ 
    @include gradientUsername;
    animation: shine 10s linear infinite;
    background-image: linear-gradient(-60deg, #5BCEFA 20%, #F5A9B8 20%, 40%, #FFFFFF 40%, 60%, #F5A9B8 60%, 80%, #5BCEFA 80%);
}

// Reaper45#0001
.avatar-2e8lTP[src*="562386647828791311"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="562386647828791311"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="562386647828791311"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="562386647828791311"] ~ .nameTag-2Nlmsy .username-3JLfHz
{ 
    @include gradientUsername;
    animation: shine 10s linear infinite;
    background-image: linear-gradient(56deg, rgba(223,193,63,1) 0%, rgba(246,57,57,1) 33%, rgba(62,9,157,1) 66%, rgba(223,193,63,1) 99%);
}

// SkeppyCat#1185
.avatar-2e8lTP[src*="442661470770167838"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="442661470770167838"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="442661470770167838"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="442661470770167838"] ~ .nameTag-2Nlmsy .username-3JLfHz 
{ 
    @include gradientUsername;
    animation: shine 10s linear infinite;
    background-image: linear-gradient(90deg, rgba(252,178,215,1) 0%, rgba(0,0,0,1) 50%, rgba(252,178,215,1) 100%);
}

// LewsTherin#0001
.avatar-2e8lTP[src*="148883925270396929"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="148883925270396929"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="148883925270396929"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="148883925270396929"] ~ .nameTag-2Nlmsy .username-3JLfHz 
{ 
    @include gradientUsername;
    animation: shine 10s linear infinite;
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 25%, rgba(0,0,0,1) 50%, rgba(123,0,255,1) 75%, rgba(0,0,0,1) 100%);
}

// D |049| CatBoy#0049
.avatar-2e8lTP[src*="394804652064899072"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="394804652064899072"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="394804652064899072"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="394804652064899072"] ~ .nameTag-2Nlmsy .username-3JLfHz 
{ 
    @include gradientUsername;
    animation: shine 10s linear infinite;
    background-image: radial-gradient(circle, rgba(0,203,255,1) 0%, rgba(76,196,114,1) 12%, rgba(183,171,99,1) 30%, rgba(214,165,18,1) 51%, rgba(206,32,32,1) 70%, rgba(132,7,7,1) 100%);
}

// AnnoyedLoki#0117
.avatar-2e8lTP[src*="233787027517210624"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="233787027517210624"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="233787027517210624"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="233787027517210624"] ~ .nameTag-2Nlmsy .username-3JLfHz 
{ 
    @include gradientUsername;
    animation: shine 10s linear infinite;
    background-image: linear-gradient(90deg, rgba(242,221,136,1) 20%, rgba(0,0,0,1) 50%, rgba(242,221,136,1) 80%);
}

// Pukima#0001
.avatar-2e8lTP[src*="751092600890458203"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="751092600890458203"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="751092600890458203"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="751092600890458203"] ~ .nameTag-2Nlmsy .username-3JLfHz 
{ 
    @include gradientUsername;
    animation: shine-reversed 10s linear infinite;
    background-image: linear-gradient(90deg, #D65E94 0%, #2AB5EA 50%, #D65E94 100%);
}

// Chochu#1253
.avatar-2e8lTP[src*="289782983357890571"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="289782983357890571"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="289782983357890571"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="289782983357890571"] ~ .nameTag-2Nlmsy .username-3JLfHz 
{ 
    @include gradientUsername;
    animation: shine-reversed 10s linear infinite;
    background-image: linear-gradient(90deg, rgba(25,25,27,1) 0%, rgba(222,175,157,1) 33%, rgba(224,231,232,1) 66%, rgba(25,25,27,1) 100%);
}

// ♡Okajuni♡ [BC]
.avatar-2e8lTP[src*="478881945020006402"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="478881945020006402"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="478881945020006402"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="478881945020006402"] ~ .nameTag-2Nlmsy .username-3JLfHz 
{ 
    @include gradientUsername;
    animation: shine-reversed 10s linear infinite;
    background-image: linear-gradient(90deg, rgba(25,25,27,1) 0%, rgba(222,175,157,1) 33%, rgb(235, 111, 146) 66%, rgba(25,25,27,1) 100%);
}

// Kaia#8444
.avatar-2e8lTP[src*="118830296350064641"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="118830296350064641"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="118830296350064641"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="118830296350064641"] ~ .nameTag-2Nlmsy .username-3JLfHz
{
    @include gradientUsername;
    animation: shine 10s linear infinite;
    background-image: linear-gradient(90deg, rgba(118,240,255,1) 0%, rgba(251,213,255,1) 30%, rgba(255,255,255,1) 50%, rgba(251,213,255,1) 70%, rgba(118,240,255,1) 100%);
}

// Maclean#8719
.avatar-2e8lTP[src*="421890156686213120"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="421890156686213120"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="421890156686213120"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="421890156686213120"] ~ .nameTag-2Nlmsy .username-3JLfHz
{
    @include gradientUsername;
    animation: shine 10s linear infinite;
    background-image: linear-gradient(90deg, rgba(225,116,139,1) 0%, rgba(234,161,166,1) 20%, rgba(230,220,237,1) 40%, rgba(227,238,248,1) 60%, rgba(232,248,235,1) 80%, rgba(225,116,139,1) 100%);
}

// Cituation#0069
.avatar-2e8lTP[src*="285902386701271050"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="285902386701271050"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="285902386701271050"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="285902386701271050"] ~ .nameTag-2Nlmsy .username-3JLfHz
{
    @include gradientUsername;
    animation: shine-reversed 5s linear infinite;
    background-image: linear-gradient(140deg, #95efeb 0%, #95beef 10%, #a095ef 20%, #d595ef 30%, #ef95d5 40%, #ef95a0 50%, #efbf95 60%, #eaef95 70%, #b6ef95 80%, #95efaa 90%, #95efeb 100%);
}

// ven#0069
.avatar-2e8lTP[src*="429013973501870100"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="429013973501870100"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="429013973501870100"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="429013973501870100"] ~ .nameTag-2Nlmsy .username-3JLfHz
{
    @include gradientUsername;
    animation: shine-reversed 5s linear infinite;
    background-image: linear-gradient(-60deg, rgba(91, 206, 250) 20%, rgba(245, 169, 184) 20%, 40%, rgba(255, 255, 255) 40%, 60%, rgba(245, 169, 184) 60%, 80%, rgba(91, 206, 250) 80%);
}

// Dxniel#2772
.avatar-2e8lTP[src*="317274395410169856"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="317274395410169856"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="317274395410169856"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="317274395410169856"] ~ .nameTag-2Nlmsy .username-3JLfHz
{
    @include gradientUsername;
    animation: shine-reversed 5s linear infinite;
    background-image: linear-gradient(90deg, #fc00ff 0%, #00dbde 100%);
}

// J6lka#4160
.avatar-2e8lTP[src*="516246121002303489"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="516246121002303489"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="516246121002303489"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="516246121002303489"] ~ .nameTag-2Nlmsy .username-3JLfHz
{
    @include gradientUsername;
    animation: shine-reversed 5s linear infinite;
    background-image: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
}

// Dark-LYNN#6568
.avatar-2e8lTP[src*="705306248538488947"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="705306248538488947"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="705306248538488947"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="705306248538488947"] ~ .nameTag-2Nlmsy .username-3JLfHz
{
    @include gradientUsername;
    animation: shine-reversed 5s linear infinite;
    background-image: linear-gradient(45deg,orange, yellow, green, blue, indigo, violet, red);;
}

// 💙dopadream💛#7777
.avatar-2e8lTP[src*="717509908479868999"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="717509908479868999"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="717509908479868999"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="717509908479868999"] ~ .nameTag-2Nlmsy .username-3JLfHz
{
    @include gradientUsername;
    animation: shine-reversed 5s linear infinite;
    background-image: radial-gradient(circle, rgba(1,144,249,1) 0%, rgba(253,224,45,1) 100%);
}

// Cywell#0001
.avatar-2e8lTP[src*="522953162748067840"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="522953162748067840"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="522953162748067840"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="522953162748067840"] ~ .nameTag-2Nlmsy .username-3JLfHz
{
    @include gradientUsername;
    animation: shine 5s linear infinite;
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 6%, rgba(17,91,15,0.9912280701754386) 48%, rgba(17,176,8,1) 83%);;
}

// waasabii#0112
.avatar-2e8lTP[src*="936723624180727888"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="936723624180727888"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="936723624180727888"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="936723624180727888"] ~ .nameTag-2Nlmsy .username-3JLfHz
{
    @include gradientUsername;
    animation: shine-reversed 5s linear infinite;
    background-image: linear-gradient(90deg, rgba(55,177,218,1) 0%, rgba(146,111,210,1) 32%, rgba(181,86,207,1) 51%, rgba(203,152,127,1) 80%, rgba(204,221,59,1) 100%);
}

// LoafOfCurry#0001
.avatar-2e8lTP[src*="444254890563338241"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="444254890563338241"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="444254890563338241"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="444254890563338241"] ~ .nameTag-2Nlmsy .username-3JLfHz
{
    @include gradientUsername;
    animation: shine-reversed 5s linear infinite;
    background-image: linear-gradient(90deg, rgba(93,164,204,1) 0%, rgba(132,208,142,1) 19%, rgba(218,139,163,1) 40%, rgba(222,159,117,1) 59%, rgba(219,88,88,1) 79%, rgba(209,154,228,1) 100%);
}

// NomadNaomie#7601
.avatar-2e8lTP[src*="188323207793606656"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="188323207793606656"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="188323207793606656"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="188323207793606656"] ~ .nameTag-2Nlmsy .username-3JLfHz
{
    @include gradientUsername;
    animation: shine-reversed 5s linear infinite;
    background-image: linear-gradient(90deg, rgba(216,44,1,1) 0%, rgba(241,117,44,1) 15%, rgba(255,152,91,1) 30%, rgba(255,255,255,1) 45%, rgba(209,98,163,1) 60%, rgba(183,85,145,1) 75%, rgba(166,2,96,1) 90%);
}

// vic#2345
.avatar-2e8lTP[src*="833806840257052753"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="833806840257052753"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="833806840257052753"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="833806840257052753"] ~ .nameTag-2Nlmsy .username-3JLfHz
{
    @include gradientUsername;
    animation: shine 5s linear infinite;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(61,122,234,1) 35%, rgba(81,164,165,1) 100%);
}

// Keyframes
@keyframes shine { to { background-position: 300% center;}}
@keyframes shine-reversed { to { background-position: -300% center;}}